<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="false"
	  throwExceptions="false">
  <targets>
    <target
      name="toFile"
      xsi:type="File"
      layout="${longdate} ${level} ${message} ${exception:format=tostring}"
      archiveAboveSize="1024000"
      archiveNumbering="Sequence"
      fileName="${basedir}/Logs/${level}_${date:format=dddd}.txt" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="toFile" />
  </rules>
</nlog>